@model MyBlog.Models.PostViewModel
<article>
    <h2>@Html.ActionLink(Model.Title, "Show", new {id=Model.Id})</h2>
    <section>
        @Html.Raw(Model.Body)
    </section>
    <section>
        @Model.CommentCount Comments
    </section>
     @Html.Partial("_Tag", Model.Tags)
</article>
